{
  "IG_TOKEN": "<page_token>",
  "IG_LONG_TOKEN": "<long_token>",
  "IG_IG_ID": "17841479289474050",
  "IG_PAGE_ID": "1161789387012023",
  "FB_APP_ID": "2196575497750019",
  "FB_APP_SECRET": "<app_secret>",
  "REPO": "sergioskmcle-sketch/blog-gamer"
}
